.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.side-nav{
  width: 35vw;
}

.side-nav-img{
  border: lightgray 1px solid;
  /* height: 12%; */
  padding: 20px;
}

.side-nav-img img{
  width: 30vw;
}


.user-info{
  /* height: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: lightgray 1px solid;
  padding: 20px;
}